body
{
    background-image: url(note.jfif);
}
#a1
{
    background-color: red;
    font-size:40px;
    font-family:arial;
}
#a2
{
    background-color: yellowgreen;
    font-size:30px;
    font-family:wide latin;
}
#a3
{
    background-color: gold;
    font-size:30px;
    font-family:algerian;
}
#a4
{
    background-color: burlywood;
    font-size:30px;
    font-family:calisto MT;
}
#a5
{
    background-color: orange;
    font-size:30px;
    font-family:forte;
}
